.page-sidebars {
    box-sizing: border-box;
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    width: 200px;
    background: #001529;
}
.page-sidebar-list {
    list-style-type: none;
    .page-sidebar-item {
        text-decoration: none;
        display: block;
        padding: 10px 15px;
        color: hsla(0, 0%, 100%, 0.65);
        &.page-sidebar-item-active {
            background-color: #1890ff;
            color: #fff;
        }
        &:hover {
            color: #fff;
        }
    }
}
