.page {
    .page-content {
        position: fixed;
        top: 40px;
        bottom: 0px;
        left: 200px;
        right: 0;
    }
    .page-title {
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid gainsboro;
    }
    .page-main {
        padding: 20px;
    }
}
